@import 'styles/variables';

.template-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 65px;

  @media #{$media-desktop} {
    grid-gap: 50px;
  }

  @media #{$media-desktop--sm} {
    grid-gap: 30px;
  }

  @media #{$media-desktop--sm} {
    grid-gap: 30px;
  }

  @media #{$media-tablet} {
    grid-template-columns: repeat(2, 1fr);
  }

  @media #{$media-mobile--sm} {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}
