@import 'styles/variables';

@mixin flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin flex-center() {
  display: flex;
  align-items: center;
}

@mixin truncate-text($num-of-lines: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $num-of-lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin input-group-element {
  @include flex-center();

  padding: 0 12px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  svg {
    height: 18px;
    width: 18px;
  }
}
