@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('assets/fonts/circular-std/stylesheet.css');
@import 'variables';
@import 'reset';

body {
  font-family: $primary-font-family;
  color: $primary-color;
  font-size: $font-size--base;
  line-height: $font-size--md;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input,
select {
  font-family: $primary-font-family;
}

input,
select {
  font-size: $font-size--base;
  line-height: $font-size--md;
}

img {
  object-fit: cover;
}
